.track {
    margin: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.track:hover {
    background: #1db954;
    border-radius: 4px;
}

.track .track-image {
    float: left;
}

.track .track-image img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.track-info span {
    display: block;
}

.track .track-duration {
    float: right;
}